<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title> AEKA </title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <header class="header">
            <div class="logoContent">
                <a href="#"><img src=" images\kerala7.jpg" alt="logo"></a>
                <h1 class="logoName">AEKA</h1>
            </div>

            <nav class="navbar">
                <a href="#restore">Restore</a>
                <a href="#murals">Murals</a>
                <a href="#locations">Locations</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>

            </nav>
            <div class="icon">
                    <i class="fas fa-bars" id="menu-bar"></i>
            </div>
        </header>
        <section class="restore" id="restore">
            <div class="restoreContent">
                <h2> Restore Your Damaged Murals </h2>
                <p>
                    AEKA: Reviving the timeless art of Kerala murals through innovative digital restoration.
                </p>
               
                
                <div class="restore-btn">
                    <a href="http://127.0.0.1:5000/app"><button>RESTORE NOW</button></a>
                </div>
                
                <p></p>

                <div class="restore-btn">
                    <a href="http://127.0.0.1:5000/classify"><button>CLASSIFY DEGRADED MURALS</button></a>
                </div>
                
                <p></p>

                
                <div class="locate-btn">
                    <a href="http://127.0.0.1:5000/map"><button>MURAL DESTINATIONS</button></a>
                </div>
                
                
            </div>
        </section>
        <section class="murals" id="murals">
            <div class="heading">
                <h2>Murals across the world</h2>
            </div>
            <div class="swiper murals-row">
                <div class="swiper-wrapper">
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/ancient.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Ancient Temple Murals</h3>
                            <p>
                                Depict intricate and sacred imagery painted on the walls of temples, often portraying deities, epics, and spiritual themes in vibrant colors and detailed craftsmanship.
                            </p>
    
                        </div>
                    </div>
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/folk.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Folklore-Themed Murals</h3>
                            <p>
                                Celebrate local legends, traditions, and folk stories, bringing cultural narratives to life through colorful and expressive artwork.   
                             </p>
                            
                        </div>
                    </div>
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/myth.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Mythological Depictions</h3>
                            <p>
                                Illustrate epic tales and divine characters from mythology, capturing scenes from Ramayana, Mahabharata, or other spiritual texts with symbolic and elaborate artistry.
                            </p>
                            
                        </div>
                    </div>
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/true.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>True Fresco</h3>
                            <p>
                                A classical painting technique where pigments are applied directly onto freshly laid wet plaster, allowing the colors to fuse into the wall for durability and vibrancy.
                            </p>
                            
                        </div>
                    </div>
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/chinese.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Chinese Landscape Murals</h3>
                            <p>
                                Traditional Chinese art featuring serene landscapes, waterfalls, mountains, and calligraphy. </p>
                            
                        </div>
                    </div>
    
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper murals-row">
                <div class="swiper-wrapper">
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/secco.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Fresco Secco</h3>
                            <p>
                                A technique where pigments mixed with a binding medium are painted on dry plastered walls, offering flexibility but less permanence compared to true fresco.
                            </p>
                            
                        </div>
                    </div>
                   
    
               
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/mosaic.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Mosaic Murals</h3>
                            <p>
                              
                                Mosaic murals are composed of small, colored tiles, stones, or glass pieces arranged to create intricate patterns or images, often used to decorate walls and floors with a timeless, textured aesthetic.
                            </p>
                            
                        </div>
                    </div>
                   
    
                
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/abstractmural.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Abstract Murals</h3>
                            <p>
                                These murals focus on non-representational art, using shapes, colors, and patterns to convey emotions or concepts, adding a contemporary and creative touch to the space.


                            
                            </p>
                            
                        </div>
                    </div>
                   
    
               
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/trompe.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Trompe-l'œil Murals</h3>
                            <p>
                                A highly realistic painting style designed to create the illusion of three-dimensional space, often tricking the eye with lifelike depth and perspective.
                            
                            </p>
                            
                        </div>
                    </div>
                   
    
               
                    <div class="swiper-slide box">
                        <div class="img">
                            <img src="https://raw.githubusercontent.com/Abitha-01/mural/main/images/envi.jpg" alt="">
                        </div>
                        <div class="murals-content">
                            <h3>Environmental Murals</h3>
                            <p>
                                Murals that emphasize themes of nature, wildlife, or environmental conservation, often designed to raise awareness or celebrate the beauty of the natural world.
                            
                            </p>
                            
                        </div>
                    </div>
                   
    
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <footer class="footer" id="contact">
            <div class="box-container">
                
                <div class="mainBox">
                    <div class="content">
                        <a href="#"><img src="images/logo.png" alt="logo"></a>
                        <h1 class="logoName"> AEKA </h1>
                    </div>
    
                    <p>Made with <i class="fas fa-heart"></i></p>
    
                </div>
                <div class="box">
                    <h3>Quick link</h3>
                    <a href="#"> <i class="fas fa-arrow-right"></i>Restore</a>
                    <a href="#"> <i class="fas fa-arrow-right"></i>Murals</a>
                    <a href="#"> <i class="fas fa-arrow-right"></i>Locations</a>
                    <a href="#"> <i class="fas fa-arrow-right"></i>About</a>
                    <a href="#"> <i class="fas fa-arrow-right"></i>contact</a>
    
                </div>
                <div class="box">
                    <h3>Extra link</h3>
                  
                    <a href="#"> <i class="fas fa-arrow-right"></i>privacy policy</a>
                  
                    <a href="#"> <i class="fas fa-arrow-right"></i>our  services</a>
                </div>
              
                <div class="box">
                    <h3>Contact Info</h3>
                    
                    <a href="#"> <i class="fas fa-envelope"></i>geeksgritty@gmail.com</a>
    
                </div>
               
    
            </div>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
           
            <div class="credit">
                created by <span>Gritty Geeks </span> | all rights reserved ! 
            </div>

        </footer>




        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script src="/static/index.js"></script>


    </body>
</html>